.DS_Store
._*
.Spotlight-V100
.Trashes


TAGS
tags
tags.lock
tags.temp

.*.sw[a-z]
*.un~
Session.vim

.sass-cache
.autoenv.zsh
.autoenv_leave.zsh
.ropeproject/
.python-version
.idea
.vscode
.vim

pylama.ini
